.cart {
    position: absolute;
    right: 50px;
    cursor: pointer;
    z-index: 5;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cartAmount {
    position: absolute;
    top: -8px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--c-black);
    color: var(--c-white);
}
