.productInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 292px;
    margin-left: 100px;
}

.productName {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}
