.productInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 292px;
    margin-left: 50px;
}

.productName,
.productShortDesc {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.productShortDesc {
    font-weight: 400;
}

.priceTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    border: none;
    color: var(--c-white);
    background-color: var(--c-primary);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.productLongDesc {
    font-family: 'Roboto', sans-serif;
}
