.slider {
    position: relative;
}

.slide {
    opacity: 0;
    width: 141px;
}

.current {
    opacity: 1;
}

.arrowLeftContainer,
.arrowRightContainer {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: none;
}

.arrowLeftContainer {
    top: 50%;
}

.arrowRightContainer {
    top: 50%;
    right: 0;
}

.arrowLeft {
    filter: invert(1);
    transform: rotate(90deg);
    width: 100%;
}

.arrowRight {
    filter: invert(1);
    transform: rotate(270deg);
    width: 100%;
}
