.slider {
    position: relative;
    width: 141px;
    height: 185px;
    display: flex;
}

.slide {
    opacity: 0;
}

.image {
    width: 141px;
    height: 185px;
    object-fit: cover;
}

.current {
    opacity: 1;
}

.arrowLeftContainer,
.arrowRightContainer {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: none;
}

.arrowLeftContainer {
    top: 50%;
}

.arrowRightContainer {
    top: 50%;
    right: 0;
}

.arrowLeft {
    transform: rotate(90deg);
}

.arrowRight {
    transform: rotate(270deg);
}

.arrowLeft,
.arrowRight {
    width: 100%;
    filter: invert(1) drop-shadow(0px 0px 2px var(--c-black));
}
