.currencySwitcher {
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: absolute;
    right: 60px;
    cursor: pointer;
    z-index: 5;
}

.currencySwitcher > div {
    margin-right: 7px;
}
