.squaredBox {
    border: 1px solid var(--c-black);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.squaredBox.page.size {
    width: 63px;
    height: 45px;
}

.squaredBox.page.amount {
    width: 45px;
    height: 45px;
}

.size.nonSelected {
    color: var(--c-grey);
    background-color: #a6a6a633;
    border: 1px solid var(--c-grey);
}

.size.nonSelected.page {
    background-color: var(--c-black);
    color: var(--c-white);
}
