.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #39374838;
}

.modalOverlay {
    position: fixed;
    top: 70px;
    right: 80px;
    width: 325px;
    background-color: var(--c-white);
    padding: 1rem;
    z-index: 3;
    /* animation: slide-down 300ms ease-out forwards; */
}
