.backdropTransparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
    background-color: transparent;
}

.modalOverlay {
    position: absolute;
    top: var(--header-height);
    background-color: var(--c-white);
    padding: 16px;
    z-index: 4;
    /* animation: slide-down 300ms ease-out forwards; */
}
