.cart {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cartAmount {
    position: absolute;
    top: -8px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--c-black);
    color: var(--c-white);
}

.modalOverlay {
    right: 40px;
    width: 325px;
    /* display: none; */
}

.backdropGrey {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #39374838;
}
