.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 136px;
}

.price {
    font-weight: 500;
}

.size {
    width: 24px;
    height: 24px;
}

/* .size.unavailable {
    width: 24px;
    height: 24px;
    color: var(--c-grey);
    background-color: #a6a6a633;
} */
