.cartOverlayButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttonCheckout {
    border: none;
    background-color: var(--c-primary);
    color: var(--c-white);
}
