.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background-color: var(--c-white);
    /* z-index: 4; */
}
