.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 136px;
}

.name,
.shortDesc {
    font-size: 30px;
    line-height: 27px;
}

.name {
    font-weight: 600;
}

.price {
    font-weight: 500;
    font-weight: bold;
    line-height: 18px;
}
