html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    background-color: #fff;
    color: var(--c-black);
}

:root {
    --c-primary: #5ece7b;
    --c-black: #1d1f22;
    --c-white: #ffffff;
    --c-grey: #a6a6a6;
    --c-dark-grey: #8d8f9a;
    --c-light-grey: #e9e9e9;
    --header-height: 80px;
}
