.amountController {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: 1px solid var(--c-black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
