@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.priceCard {
    margin: 40px 0 20px;
}

.priceTitle {
    margin: 0 0 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.price {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
