.addToCartButton {
    padding: 13px 0;
    width: 100%;
    border: none;
    color: var(--c-white);
    background-color: var(--c-primary);
}

.outOfStock {
    width: 100%;
    border: none;
    color: var(--c-white);
    background-color: var(--c-grey);
    cursor: not-allowed;
}
