.thumbnail {
    position: relative;
}

.arrowsContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.arrowLeft {
    filter: invert(1);
    transform: rotate(90deg);
    width: 100px;
}

.arrowRight {
    filter: invert(1);
    transform: rotate(270deg);
    width: 100px;
}

.arrowLeft,
.arrowRight {
    width: 15px;
    height: 15px;
}
