.container {
    position: relative;
    width: 29%;
    margin: 2%;
}

.article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 5%;
    color: var(--c-white);
    background-color: var(--c-white);
}

.article:hover {
    box-shadow: 0px 4px 35px #a8acb030;
    cursor: pointer;
}

.imageContainer {
    width: 100%;
    margin-bottom: 12%;
    position: relative;
}

.cartGreenIcon {
    display: none;
    position: absolute;
    bottom: -12%;
    right: 5%;
    width: 22%;
}

.article:hover .cartGreenIcon {
    display: block;
}

.article.unavailable:hover .cartGreenIcon {
    display: none;
}

.image {
    width: 100%;
}

p {
    margin: 0;
    size: 18px;
    color: var(--c-black);
}

.descriptionName {
    font-weight: 300;
}

.descriptionPrice {
    font-weight: 500;
}
