.productCard {
    position: relative;
    margin: 40px;
    padding: 16px;
}

.cartGreenIcon {
    display: none;
    position: absolute;
    bottom: 21%;
    right: 5%;
    width: 22%;
    z-index: 1;
    cursor: pointer;
}

.productCard:hover .cartGreenIcon {
    display: block;
}

.productCard.outOfStockProduct:hover .cartGreenIcon {
    display: none;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    color: var(--c-white);
    background-color: var(--c-white);
}

.info:hover {
    box-shadow: 0px 4px 35px #a8acb030;
    cursor: pointer;
}

.imageContainer {
    margin-bottom: 12%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 354px;
    height: 330px;
    object-fit: cover;
    object-position: 20% 10%;
}

.descriptionContainer {
    margin: 0;
    size: 18px;
    color: var(--c-black);
}

.descriptionName {
    font-weight: 300;
}

.descriptionPrice {
    font-weight: 500;
}

.outOfStockText {
    color: var(--c-dark-grey);
}
